body{background: url(../imagens/cine.png);} /* A url fará o uma imagem ser o background */

#area-principal{background-color: rgba(0, 0, 0, 0.7);
                width: 1000px;
                margin: 50px auto;
                padding: 20px;}

h1{color: #FFFF00;}
h2{color: #FF4500;}
p{color: white;
  font-size: 19px;}

.data-postagem{color: yellow;
              border: none;
              font-size: 20px;}
